version: '3.8'

services:
  app:
    build: .
    image: 2000023946/auth-service:${TAG:-v1}
    container_name: auth_app
    ports:
      - "${APP_PORT:-5000}:5000"
    env_file:
      - .env.test
    environment:
      - FLASK_ENV=${FLASK_ENV}
      - DB_HOST=db
      - DB_PORT=3306
      - REDIS_HOST=cache
      - REDIS_PORT=6379
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_NAME=${DB_NAME}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - db
      - cache
    restart: always

  db:
    image: mysql:8.0
    container_name: auth_db
    env_file:
      - .env.test
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    command: --default-authentication-plugin=mysql_native_password
    restart: always

  cache:
    image: redis:alpine
    container_name: auth_cache
    ports:
      - "${REDIS_PORT:-6379}:6379"
    restart: always

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"

volumes:
  db_data:
  prometheus_data:
  grafana_data:
