.login-password-forgot-password{
    font-size: 20px;
    color: blue;
    margin-bottom: 30px;
}

.login-password-button-container{
    display:flex;
    align-items: center;
    justify-self: left;
    cursor: pointer;
}

.login-password-sign-in{
    padding: 20px 30px;
    display:flex;
    align-items: center;
    justify-self: center;
    border-radius: 8px;
}

.login-password-image{
    position: absolute;
    height:50px;
    top:10px;;
    right: 10px;
    cursor: pointer;
}