.login-email{
    position: relative;
    height: 100vh;
}
.login-email-container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 600px;
}
.login-email-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.login-email-sign-up{
    font-size: 20px;
    margin-bottom: 20px;
}
.login-email-redirect-sign-up{
    color: blue;
    cursor: pointer;
}
.login-email-email-container{
    display: flex;
    position: relative;
    margin-bottom: 40px;
}
.login-email-email-container input{
    flex: 1;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    padding: 20px 10px;
    transition: border-color 0.2s ease-in;

}
.login-email-email-container input:hover{
    border: 1px solid blue;
}
#login-email-input,#login-password-input{
    padding: 30px 10px 10px 18px;
}
.login-email-email-container input[type='email']{
    font-size: 20px;
}
.login-email-label{
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 20px;;
    transform: translateY(-50%);
    color: rgb(166, 166, 166);
    transition: transform 0.2s ease-in,
                font-size 0.2s ease-in;
}
.login-email-submit{
    background-color: rgb(226, 222, 222);;
    padding:15px 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;;
    color: rgb(92, 92, 92);
    border-radius: 5px;
    cursor: pointer;
}
.login-email-submit:hover{
    background-color: rgb(187, 187, 221);
    background-color: rgb(18, 190, 247);
}
.login-email-redirect-sign-up{
    margin-left: 10px;
}

.login-password-forgot-password{
    cursor: pointer;
}