.register{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.register-container{
    display:flex;
    flex-direction: column;
    width:40%;
}
.register-info-container{
    display:flex;
    flex-direction: column;
    align-items: left;
    padding:10px 0px;
    margin:10px 0px;
}
.register-title{
    font-size: 50px;
    font-weight: 700;
    margin: 40px 0px;
}
.register-desc{
    font-size: 20px;
    color: rgb(51, 50, 50);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.register-auth-info{
    display:flex;
    flex-direction: column;
    position: relative;
}
.register-error{
    color:red;
    display: flex;;
    align-items: center;
}
.register-error::before{
    content: '';
    background-image: url('../../../public/notify.png');
    background-size: 30px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.register-password-image-container{
    position: absolute;
    right: 10px;
    width:34px;
    top: 35%;
    cursor: pointer;
}
.register-username-container{
    width: 100%;
}

.register-username-container input,
.register-password-container input,
.register-form-select-menu{
    padding: 0px 10px;
    border-radius: 5px;
    margin: 10px 0px;
    border: 1px solid rgb(219, 219, 219);
    height: 70px;
    transition: border 0.2s ease-in;
}
.register-form-drop-down-section::before{
    position: absolute;
    content: '';
    top:0;
    bottom:0;
    left:0px;
    right:0px;
    border-radius:5px;
    background-color: white;
}
.register-form-select-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.register-form-select{
    position: relative;
}
.register-select-option{
    height: 50px;
    display:flex;
    align-items: center;
    cursor: pointer;
    border: none;
    /* border-bottom: 1px solid rgb(232, 232, 232); */
    transition: background-color 0.2s ease-in;
    padding: 0px 10px;
    position: relative;
    --opacity: 0;
}
.register-menu-container{
    width:100%;
    height: 200px;
    overflow: scroll;
    position: relative;
    border:none;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 3px rgb(120 120 120 / 10%);
}
.register-form-drop-down-section{
    display:flex;
    justify-content: center;
    /* width: 100%; */
    /* height: 200px;; */
    left: 0px;
    border-radius: 5px;
    right: 0px;
    /* overflow-y: scroll; */
    position: absolute;
    z-index: 100;
}
.register-option-value{
    z-index: 10000;
}
.register-select-option::before{
    content: '';
    top:0px;
    bottom:0px;
    left: 0px;
    right: 0px;
    position: absolute;
    background-color: rgb(190, 255, 255);
    /* z-index: 99; */
    border-radius: 5px;
    opacity: var(--opacity);
}
.register-select-option::after{
    content: '';
    position: absolute;
    bottom:0px;
    left: 10px;
    right: 10px;
    height: 1px;;
    background-color: rgb(232, 232, 232);
}
.register-select-option::active{
    background-color:  rgb(232, 232, 232);
}
.register-form-drop-down{
    /* height: 200px; */
    width: 95%;    
}
.register-arrow-down{
    border-left: 2px solid rgb(192, 192, 192);
    border-bottom: 2px solid rgb(192, 192, 192);
    width:10px;
    cursor: pointer;
    height: 10px;
    transform: translateY(50%) rotate(-45deg);
    transition: transform 0.2s ease-in;
}

input[type='text'],
input[type='password']{
    font-size: 20px;;
}


.register-auth-info div input::placeholder{
    font-size: 20px;;
    color:rgb(172, 172, 172);
    font-family: 'Times New Roman', Times, serif;
}
.register-auth-info div{
    width: 100%;
}
.register-auth-info div input{
    width: 100%;
}

.register-username-container,
.register-password-container{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

}

#label-email,
#label-password{
    position:absolute;
    top:38%; 
    left: 11px;
    font-size: 20px;
    color:rgb(172, 172, 172);
    transition: font-size 0.2s ease-in,
                transform 0.2s ease-in;
}
.register-form-checkbox{
    cursor: pointer;
    padding:15px 0px;
    border-radius: 3px;
    position: relative;
    --opacity: 0;
    margin: 10px 0px;
    transition: background-color 0.2s ease-in,
                cursor           0.2s ease-in;
}

.register-form-checkbox:hover{
    --opacity: 1;
}
.register-form-checkbox:hover label::before{
    border: 2px solid blue;
}

.register-form-checkbox::before {
    content: '';
    top: 0px;
    bottom: 0;
    right: -10px;
    left: -10px;
    background-color: rgba(202, 230, 239, 0.976);
    position: absolute;
    border-radius: 5px;
    z-index: -1;
    opacity: var(--opacity);
    transition: opacity 0.2s ease-in;
}

.register-form-checkbox input{
    margin: 0px;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0;
    position: absolute;
}
.register-auth-info div input:hover,
.register-form-select-menu:hover{
    border: 1px solid rgb(0, 119, 255);
}
.register-form-checkbox label{
    cursor: pointer;
    display:flex;
}
.register-submit{
    background-color:rgb(0, 119, 255);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px;;
    border-radius:5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: background-color 0.2s ease-in;
    margin: 20px 0px;
}
.register-submit:hover{
    cursor: pointer;
    background-color: rgb(0, 99, 213);;
}
.register-footer{
    margin-top:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.register-sign-in-span{
    cursor: pointer;
    color: rgb(0, 119, 255);
}
.register-form-checkbox{
    display: flex;
    align-items: center;
    --background-color: white;
    --border-color: rgb(206, 206, 206);
}
.register-form-checkbox label{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-form-checkbox label::before {
    content: '\2713';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    margin-right: 10px;
    transition: border 0.2s ease-in;
    background-color: var(--background-color);
}


/* .up-section{
    background-color: gray;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up-container{
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
}
.up-title{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 64px;;
}
.up-email,
.up-password{
    width: 70%;
    height: 50px;
    border: 1px solid black;
    margin: 20px 0px;
    border-radius: 2px;
}

#email,
#password,
#re-password{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 30px;
    padding-left: 10px;
}

.up-submit{
    padding: 15px 60px;
    font-size: 30px;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    color: white;
    transition: color 0.2s ease,
                background-color 0.2s ease;
}

.up-submit:active{
    color: black;
    background-color: rgb(167, 166, 166);;
} */