apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-cache
spec:
  selector:
    matchLabels:
      app: auth-cache
  template:
    metadata:
      labels:
        app: auth-cache
    spec:
      containers:
      - image: redis:alpine
        name: redis
        ports:
        - containerPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: cache # App will look for 'cache'
spec:
  ports:
    - port: 6379
  selector:
    app: auth-cache