apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-frontend
spec:
  selector:
    matchLabels:
      app: auth-frontend
  template:
    metadata:
      labels:
        app: auth-frontend
    spec:
      containers:
      - name: frontend
        image: 2000023946/auth-client:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: LoadBalancer # This makes it accessible from your browser
  ports:
    - port: 80
  selector:
    app: auth-frontend