name: CI/CD pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  
jobs:
  test:
    name: Unit and Integrated Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Installs dependencies
        run: pip install -r requirements.txt

      - name: Run unit tests
        run: pytest src/tests/unit

      - name: Run integrated tests
        run: pytest src/tests/integrated
  
  push-to-dockerhub:
    name: Push to Docker Hub
    needs: test
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: 2000023946 # the repo is public so its okay
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          # The image will be built based on the Dockerfile in your root directory
          push: true
          tags: 2000023946/auth-service:latest # this is public so okay to keep here

      